@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
* {
  font-family: "Quicksand", arial;
}

header {
  background-color: rgb(212, 19, 190);
  color: aliceblue;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 4px;
}

nav {
  background-color: rgb(206, 60, 104);
  padding: 4px;
  border-radius: 10px;
  text-align: center;
}

nav > ul > li > a {
  text-decoration: none;
  display: inline;
}

nav > ul > li {
  display: inline-block;
  margin-right: 10px;
  text-transform: uppercase;
}

article {
  box-shadow: 0 8px 8px #fc2424;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
  object-fit: cover;
  object-position: center;
}

footer {
  padding: 30px;
  text-align: center;
  background-color: #7926d8;
  color: aliceblue;
  box-shadow: 0 8px 8px #af1dcc;
}

.penutup {
  text-align: center;
}

main {
  padding: 10px;
}
